@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Navbar section */
@media all and (min-width:576px) {
    .navbar .container-fluid{
        margin: 0rem 1.5rem;
    }
}
@media all and (min-width:768px){
    .navbar-nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
            display: flex;
            flex-basis: 0;
    }
    .navbar-nav{
        display: flex;
        margin-left: 3rem;
    }
 
    .nav-lang{
        display: flex;
        justify-content:end;
        flex: 1;
        margin-right: 2rem;
        align-items: center;
    }
  
    .btn-1, .btn-2{ 
        margin-right: 1rem;
    }
}

/* Navbar section */


/* Hero Section */

@media all and (min-width:400px) {
    .hero-wrap{
        margin: 15rem 0rem;
    }
}

@media all and (min-width:576px) {
    .hero-wrap .display-1{
        font-size: 45px;
    }
}

@media all and (min-width:768px) {
    .video-background .content{
        margin: 12rem 0rem 2rem 0rem;
    }
}

@media all and (min-width:992px) {
    .hero-wrap .display-1{
        font-size: 60px;
    }
    .hero-wrap .hero-text{
        font-size: 36px;
    }
    .hero-btn{
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}

@media all and (min-width:1280px) {
    .video-background .content{
        margin: 12.5rem 0rem 2rem 0rem;
    }
}

/* Hero Section */



/* Trade assets section */

@media all and (min-width:576px) {
    .trade-assets .buttons{
        flex-direction: row;
        justify-content:center;
    }
    .btn-3{
        margin-bottom: 0rem;
        margin-right: 1rem;
    }
    .trade-assets .trade-text{
    font-size:14px ;
}
}   

@media all and (min-width:992px){
.trade-assets{
    padding:5rem 0rem;
}

   .trade-assets .trade-head{
        font-size: 50px;
    }
    .trade-assets .trade-text{
        font-size: 24px;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .img-fluid{
        margin:2rem 0rem;
        padding: 0rem 3rem;
    }
    .trade-assets .btn-3, .btn-4{
        font-size: inherit;
    }
}
/* Trade assets section */



/* assurance section */

@media all and (min-width:576px){
    .half-1 .assurance-text{
        font-size: 14px;
    }  
}
@media all and (min-width:768px) {
    .half-1 .assurance-head{
        font-size: 35.5px;
    }

    .half-2 .assurance-head{
        font-size: 35.5px;
    }
    .half-2 .assurance-text{
        font-size: 14px;
    }
}
@media all and (min-width:992px){
    .assurance{
        margin-left:2.8rem;
        margin-right: 2.8rem;
    }
    .half-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .assurance-pic-1{
        width:500px;
        height: 500px;
    }
    .half-wrap{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 5rem;
    }
    .half-wrap .icon-1{
        width: 108.2px;
    }
    .assurance-head{
        font-size: 50px;
    }
    .assurance-text{
        font-size: 20px;
    }

    .half-2{
        display: flex;
        flex-direction:row;
    }
    .assurance-pic-2{
        flex:1 ;
        width:400px;
        height: 410px;
        
    }
    .half-wrap{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 5rem;
    }
    .half-wrap .icon-2{
        width: 108.2px;
    }
    .assurance-head{
        font-size: 50px;
    }
    .assurance-text{
        font-size: 20px;
    }
}
/* assurance section */



/* Team sectiion */
@media all and (min-width:768px) {
    .team .team-head{
        font-size: 35.52px;
    }
   .team .team-text{
    padding:0rem 1.5rem;
    font-size:14px;
   }
     
   @media all and (min-width:992px){
       .team .team-content{
            text-align: center;
        }
        .team .team-head{
            font-size: 50px;
        }
        .team .team-text{
            font-size:20px ;
            padding-right:8rem ;
            padding-left: 8rem;
        }
        .team .team-btn{
            font-size: inherit;
        }
   }
}

@media all and (min-width:1280px){
    .team .team-text{
        font-size:20px ;
        padding-right:12rem ;
        padding-left: 12rem;
    }
}
/* Team sectiion */




/* Keep up section */
@media all and (min-width:400px) {
    .carousel-content{
        padding-top: 8rem;
    }
}

@media all and (min-width:576px) {
    .keep-up{
        margin: 0rem 3rem;
    }
    .keep-text{
        font-size: 14px;
    }
    .keep-head{
    font-size: 35.52px;
    padding-left: 3rem;
    padding-right: 3rem;
}
    .carousel-content{
        padding-top: 10rem;
    }
}

@media all and (min-width:768px){
    .carousel-content{
        padding-top: 12rem;
    }
    .keep-up{
        margin: 0rem 5rem;
    }   
}

@media all and (min-width:992px) {
   .keep-up .keep-head{
        font-size: 50px;
    }
    .keep-up .keep-text{
        font-size: 20px;
        padding-right:3rem ;
        padding-left: 3rem;
    }
    .carousel-content{
        padding: 20rem 0rem;
    }
    .carousel-head{
        font-size: 80px;
    }
    .carousel-text{
        font-size: 25px;
        padding: 0rem 3rem;
    }
}

@media all and (min-width:1280px){
    .keep-up{
        margin: 5rem 7rem;
    }
    .carousel-content{
        padding: 25rem 0rem;
    }
}
/* Keep up section */



/* Trust section */

@media all and (min-width:576px){
    .trust-text{
        font-size: 14px;
    }
    .butt{
      flex-direction: row;  
      justify-content: center;
      align-items: center;
    }
    .btn-5{
        margin-right: 1rem;
        margin-bottom: 0rem;
    }
    .relative{
        margin-top: 5rem;
    }
}

@media all and (min-width:768px){
    .trust-text{
        font-size: 14px;
    }
    .trust-head{
        font-size: 35.52px;
    }
    .relative{
        margin-top: 10rem;
        margin-left: 5rem;
        margin-right: 5rem;
       padding: 4rem;
    }
}

@media all and (min-width:992px){
    .trust-text{
        font-size: 14px;
        padding-right: 3rem;
    }
    .trust-head{
        font-size: 30px;
    }
    .relative{
        display: flex;
        margin-top: 10rem;
        margin-left: 5rem;
        margin-right: 5rem;
       padding: 1.5rem;
    }
  
    .butt .btn-5, .btn-6{
        font-size: inherit;
    }
   
    .trust-wrap{
        flex: 1;
        text-align: left;
    }
}

@media all and (min-width:1280px){

    .relative{
        margin-right: 7rem;
        margin-left: 7rem;
        padding: 3rem;
    }
    
}

@media all and (min-width:1440px){
    .relative{
        margin-left: 10rem;
        margin-right: 10rem;
        padding: 5rem;

    }
}
/* Trust section */




/* Footer section */
@media all and (min-width:1280px){
    .marquee{
        margin-top: 5rem;
    }
}




/*             */
/* OTHER HTML */
/*           */


/* Login section */
@media all and (min-width:400px){
    .form-container{
        padding: 1.5rem 3rem;
    }
}
@media all and (min-width:576px){
    .form-container{
        padding: 1.5rem 6rem;
    }
}
@media all and (min-width:768px){
    .form-container{
        padding: 2.6rem 3rem;
    }
    .half-container{
        display:inline;
    }
    .container{
        /* display: flex;
        flex-direction: row; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width:992px){
    .form-container{
        padding: 6rem 3rem 3rem 3rem;
    }
}

@media all and (min-width:1280px){
    .form-container{
        padding: 6rem 6rem 1.3rem 6rem;
    }
}

@media all and (min-width:1440px){
    .form-container{
        padding: 6rem 12rem;
    }
}
/* Login section */